.Header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 15px 24px;
  font-size: 16px;
  background-color: var(--main-color);
  color: var(--text-white);
  cursor: pointer;
}

/* 내부 정렬 */
.Header > div {
  display: flex;
}

.Header img {
  height: 30px;
}

.Header .header_left {
  width: 35%;
  justify-content: flex-start;
}

.Header .header_center {
  width: 30%;
  justify-content: center;
  font-size: var(--font-body);
  font-weight: bold;
}

.Header .header_center img {
  height: 22px;
}

.Header .header_right {
  width: 35%;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.Header .header_right .Msg-bell {
  background-image: url(/public/Msg-Bell.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 22px;
  height: 22px;
  transition: 0.35s;
}

/* 모바일 */
@media (max-width: 660px) {
  .Header {
    font-size: var(--font-small);
  }
}
