.Home {
  position: relative;
  height: 100vh;
  background-color: #FFFCF9;
}

.Home .main-container {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Home .menu-titleBox {
  display: flex;
  justify-content: space-between;
  height: 30%;
}

/* menu-title */
.Home .menu-title {
  margin-top: 30px;
  line-height: 1.5;
  padding: 20px;
}

.Home .menu-titleBox img {
  height: 100%;
}

.Home .menu-title h2 {
  font-size: 34px;
  padding-bottom: 15px;
}

.Home .menu-title p {
  font-size: 18px;
}

/* mainMenu-container */
.Home .mainMenu-container {
  display: flex;
  justify-content: space-between;
  height: 28%;
}

.Home .map {
  height: 35%;
}