.Home{
  position: relative;
  height: 100vh;
  background-color: #FFF9F0;
}

.Home .main-container{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* menu-title */
.Home .menu-title{
  text-align: center;
  margin-top: 50px;
  line-height: 1.5;
  padding: 20px;
}

.Home .menu-title h2{
  font-size: 28px;
  padding-bottom: 15px;
}

/* mainMenu-container */
.Home .mainMenu-container{
  display: flex;
  justify-content: space-between;
}