.input_item {
  position: relative;
  height: 60px;
  padding: 27px 15px 8px;
  border: 1px solid #c5ccd2;
  box-sizing: border-box;
}

button,
input {
  border-radius: 0;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.input_item.id {
  border-radius: 8px 8px 0 0;
}

.input_item.pw {
  border-radius: 0 0 8px 8px;
}

.input_item > label {
  display: inline-block;
  position: absolute;
  bottom: 18px;
  left: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(0, 0, 0, 0.38);
  box-sizing: border-box;
  cursor: pointer;
}

.input_item.focus {
  border: 2px solid black;
}

.input_item.on > #user_id {
  padding-right: 34px;
}

.input_item.on > #user_pw {
  padding-right: 76px;
}

.input_item.on > label,
.input_item.focus > label {
  bottom: 30px;
  font-size: 12px;
}

.btn_delete {
  position: absolute;
  top: 10px;
  right: 3px;
  width: 22px;
  height: 22px;
  margin: 9px;
}

.btn_view {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 22px;
  height: 22px;
  margin: 9px;
}

.btn_login {
  padding: 13px 20px;
  border-radius: 8px;
  background-color: black;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.hide {
  display: none;
}

.error_message {
  margin-top: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #ff0101;
  font-weight: bold;
  text-align: left;
}
