.MainMenu {
  width: 32%;
  min-width: 200px;
  height: 200px;
  background-color: rgba(255, 165, 22, .2);
  padding: 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: .5s;
}

.MainMenu:hover {
  background-color: #FFA516;
  color: #fff;
}

.MainMenu h2 {
  font-size: 22px;
}

.MainMenu p {
  font-size: 16px;
  padding-top: 15px;
}