.MyPost {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.MyPost .title {
  text-align: center;
  padding: 20px;
}

.MyPost .content {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px #ccc;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.MyPost .content .tabs {
  display: flex;
  overflow-x: auto;
  border-bottom: 2px solid #ddd;
  padding: 0 8px;
  scrollbar-width: thin;
}

.tab-container::-webkit-scrollbar {
  height: 6px;
}
.tab-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.MyPost .content .tab {
  flex: 0 0 auto;
  padding: 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 500;
  color: gray;
  border-bottom: 4px solid transparent;
  transition: color 0.3s, border-color 0.3s;
  white-space: nowrap;
}
.MyPost .content .tab:hover {
  color: #000;
}
.MyPost .content .tab.active {
  color: #ffa516;
  border-bottom-color: #ffa516;
  font-weight: 700;
}

.MyPost .content .report {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.MyPost .content .report .item {
  display: flex;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px gray;
}

.MyPost .content .report .item .post-thumbnail {
  flex: 1;
  aspect-ratio: 1/1;
  padding: 5px;
}

.MyPost .content .report .item .post-thumbnail > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.MyPost .content .report .item .post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  font-size: 14px;
  flex: 3;
}

.MyPost .content .report .item .post-info > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px;
}

.MyPost .content .report .item .post-title {
  font-weight: bold;
  font-size: 20px;
}

.MyPost .content .report .item .post-location {
  font-weight: bold;
  font-size: 12px;
}
