.Register {
  margin: 0 auto;
  width: 460px;
  text-align: center;
}

.Register .header {
  padding-top: 108px;
  padding-bottom: 48px;
}

.Register .header .logo {
  height: 30px;
}

.Register .content {
  padding: 24px;
  border: 1px solid #e1e3e5;
  border-radius: 12px;
  background-color: #fff;
}
