.ShelterAnimalList {
  height: 100vh;
}

.ShelterAnimalList .ShelterAnimalList-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

/* PageTitle */
.ShelterAnimalList .ShelterAnimalList-container .PageTitle {
  text-align: center;
  margin-top: 30px;
  line-height: 1.5;
  padding: 10px;
  font-size: var(--font-title-lg-d);
}

/* 정렬 */
.ShelterAnimalList .ShelterAnimalList-container .SearchBar select {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: var(--font-small);
  padding: 5px;
}

/* ShelterAnimalItems */
.ShelterAnimalList .ShelterAnimalItems {
  width: 100%;
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid var(--border-color);
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
