.ShelterList {
  height: 100vh;
}

.ShelterList .ShelterList-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

/* PageTitle */
.ShelterList .ShelterList-container .PageTitle {
  text-align: center;
  margin: 30px;
  line-height: 1.5;
  padding: 10px;
  font-size: var(--font-title-lg-d);
}

/* Map */
.ShelterList .ShelterList-container .Map-wrapper {
  height: 30%;
  min-height: 200px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  transition: 0.35s;
  overflow: hidden;
}

.ShelterList .ShelterList-container .Map-wrapper:hover {
  border: 2px solid var(--main-color);
}

/* ShelterList-contents */
.ShelterList .ShelterList-container .ShelterList-contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 51%;
  padding-bottom: 30px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* shelter-card */
.ShelterList .ShelterList-container .ShelterList-contents .shelter-card {
  position: relative;
  display: flex;
  gap: 10px;
  background: #ffffff;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

/* shelter-thumb : 보호소 이미지 */
.ShelterList .ShelterList-container .ShelterList-contents .shelter-card .shelter-thumb {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

/* ShelterAnimalList-btn */
.ShelterList .ShelterList-container .ShelterList-contents .ShelterAnimalList-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: 0.35s;
}

.ShelterList .ShelterList-container .ShelterList-contents .ShelterAnimalList-btn:hover {
  color: var(--main-color);
}

/* 로딩 */
.load-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-new);
}

.load-wrapper .img-box img {
  width: 300px;
  margin: 10px;
  object-fit: cover;
}

.load {
  font-size: var(--font-title-xl-d);
  text-align: center;
  color: var(--title-color);
  font-weight: 500;
}
