.SideBar{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #FFF3D6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.SideBar .close-btn{
  text-align: end;
}