.SideBar {
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fefbef;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  transition: 1s;
  z-index: 99;
}

.SideBar.active {
  right: 0px;
}

.SideBar .close-btn {
  text-align: end;
  margin-bottom: 20px;
}